body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.dropdown-local{
    width: 200px /*Although there may be a smarter way of adapting the display to the content */
}

.header {
    background-color: #222222;
    height: 230px;
    padding: 16px 0 0 0;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    font-size: 24px;
    /* max-width: 384px; */
}

.card-description {
    color: #000000;
    font-family: "Lato", sans-serif;
    margin: 14px;
    text-align: left;
    /* max-width: 384px; */
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

/* .wrapper-small { */
    /* margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    max-height: 300px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px; */
/* } */

.card {
    color: #CFCFCF;
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.card-small {
    color: #CFCFCF;
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    width: 1024px;
    height: 100px;
}

.menu {
    /* height: 112px;
    /* width: 912px; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.card-header {
    /* height: 112px;
    /* width: 912px; */
    display: flex;
    justify-content: space-between;
    /* padding-top: 12px;
    padding-bottom: 12px; */
    align-items: baseline;
    /* text-align: center; */
    /* margin: -80px auto 0 auto; */
    background-color: #FFFFFF;
    padding-bottom: 0px;
    border-bottom: #FFFFFF;
    /* box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18); */
}


.vid-pl {
    margin: 20px;
}

/* .row-container { */
    /* height: 112px;
    /* width: 912px; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* padding-top: 24px; */
    /* padding-bottom: 24px; */
    /* margin: 0px auto 0 auto; */
    /* background-color: #FFFFFF; */
    /* box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18); */
/* } */

.Select-control {
    width: 300px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
    background: #ffffff;
}

.card-title {
    font-weight: bold;
    font-size: larger;
    color: #079A82;
    background: #ffffff;
    /* padding-top: 32px; */
    padding-left: 32px;
    margin-top: 8px;
}

.button {
    color: #000000;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #079A82;
    border-radius: 10px;
    height: 28px;
    text-align: center;
    /* text-transform: uppercase; */
    /* font-family: sans-serif; */
    transition: all 0.2s ease;
}
.button:hover {
    background-color: #079A82;
    color: white;
  }

/* Calendar date start and end */
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: rgb(41, 56, 55) !important;
    border: 1px double rgb(41, 56, 55) !important;
    color: rgb(251, 251, 252) !important;
  }
  
  /* Calendar in between start and end date */
  .CalendarDay__selected_span {
      background: rgb(93, 113, 120) !important;
      border: 1px double rgb(93, 113, 120) !important;
      color: rgb(251, 251, 252) !important;
  }
  
  .CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
      background: rgb(57, 81, 85) !important;
      border: 1px double rgb(57, 81, 85) !important;
      color: rgb(251, 251, 252) !important;
  }

  .chkbox {
    /* width: 300px;
    margin: 25px 0; */
    /* display: flex; */
    /* align-items: center; */
    /* user-select: none; */
  }
  .chkbox label {
    /* font-size: 26px; */
    color: #4D4D4D;
    /* position: absolute; */
    /* z-index: 10; */
    padding-left: 6px;
    cursor: pointer;
  }
  .chkbox input {
    /* opacity: 0;
    visibility: hidden; */
    /* position: absolute; */
  }
  .chkbox input:checked ~ .check {
    /* border-color: #00ff8f;
    box-shadow: 0px 0px 0px 15px #00ff8f inset; */
  }
  .chkbox input:checked ~ .check::after {
    /* opacity: 1;
    transform: scale(1); */
  }
  .chkbox .check {
    /* width: 30px; */
    /* height: 30px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    /* border-radius: 100px; */
    /* background-color: #FFF;
    border: 2px solid #00ff8f;
    box-shadow: 0px 0px 0px 0px #00ff8f inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07); */
    }
  /* .chkbox .check::after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
    position: absolute;
    transform: scale(0);
    background-size: 50%;
    background-image: url("https://webdevtrick.com/demos/checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition-delay: 0.2s !important;
    transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
  } */

  /* TEST SESSION MANAGER */
  .grid-green-row {
    background-color: #66c2a5 !important;
}

.grid-blue-row {
    background-color: #119dff !important;
}

.grid-red-row {
    background-color: #fd4c4c !important;
}

.row-dragging-grid-to-grid-container {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#div-row-dragging-grid2grid-complex-bin {
    transition: transform 500ms;
}